.Nav_wrapper{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 248, 244);
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
    align-items: center;
}
.Nav_wrapper .logo a{
    font-size: 22px;
    font-weight: 700;
    color: #1e1e1e;
}
.Nav_wrapper ul li{
    display: inline-block;
    margin: 0 18px;
    
}
.Nav_wrapper ul li a{
    color: #1e1e1e;
    font-weight: 500;
    margin-left: 10px;
    
}
.Nav_wrapper ul li:hover a{
    color: rgb(255, 65, 35);
}
.nav_btns{
    display: flex;
    align-items: center;
    gap: 12px;
}
.nav_btns button:nth-child(2){
    background-color: rgb(255, 65, 35);
    color: #fff;
}
.nav_btns button:hover:nth-child(2){
    background-color: #fff;
    color: #1e1e1e;
}
#bars{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 65, 35);
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .6s;

    display: none;
}
#bars:hover{
    background-color: #1e1e1e;
}
@media screen and (max-width:1600px) {
    .Nav_wrapper ul li{
        margin: 0px;
    }
    .Nav_wrapper ul li a{
        font-size: 14px;
    }
}
@media screen and (max-width:1300px) {
    #bars{
        display: flex;
    }
    .Nav_wrapper{
        position: relative;
    }
    .Nav_wrapper ul{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: #1e1e1e;
        transition: .6s;
        z-index: 999;
    }
    .Nav_wrapper .showNav{
        left: 0;
    }
    .Nav_wrapper ul li{
        display: block;
        padding: 25px 0;
        padding-left: 12%;
        border-bottom: 0.2px solid rgba(255, 255, 255, 0.05);
        z-index: 999;
    }
    .Nav_wrapper ul li a{
        color: #fff;
    }
}
@media screen and (max-width:768px) {
    .nav_btns button:nth-child(2){
        display: none;

    }
}